.icon {
    color: #fb6c85;
    margin-right: 10px;
}
.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    padding: 20px;
}
.header h1 {
    margin: 0;
    font-size: 22px;
}
.header h1 a {
    text-decoration: none;
    color: #fff;
}
section {
    min-width: 790px;
}

.detail_w {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

/* main */
.detail_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;

    box-sizing: border-box;
    text-align: center;
}
.detail_main img {
    max-height: 500px;
}
.detail_main h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.detail_number {
    display: flex;
    justify-content: space-evenly;
}
.detail_number p {
    color: #cdcdcd;
}
.description {
    max-width: 800px;
    font-size: 20px;
    color: #cdcdcd;
    margin: 0 auto 20px;
}
.genres {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.genres li {
    font-family: SBAggroB;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 10px;
    color: #cdcdcd;
    border-radius: 20px;
}
